.icon{
    color: grey ;
}
.icon1{
    position: absolute;
    top:10px;
    left:10px;
    color: grey
}
.icon2{
    position: absolute;
    top:10px;
    left:428px;
    color: grey
}
.icon3{
    position: absolute;
    top:10px;
    left:500px;
    color: grey
}
.abc{
    position: relative;
}
ul{
    display:flex;
    list-style-type: none;
    text-decoration: none;
}
.ab{
padding:30px;
margin-left:150px;
text-decoration: none;
}
